html, body {
	margin:0;
	padding:0;
}

#fb-root {
	display: none;
}

#table {
	width:760px;
	height:570px;
	background-color:#FFFFFF;
	background-image:url(images/mother_of_spades-back.jpg);
	background-repeat:no-repeat;
	color: white;
	overflow: hidden;
}

