html, body {
	margin:0;
	padding:0;
	overflow: hidden;
}

#fb-root {
	display: none;
}

#board {
	width:760px;
	height:570px;
	background-color:#FFFFFF;
	background-image:url(images/mother_of_spades-back.jpg);
	background-repeat:no-repeat;
	color: white;
	overflow: hidden;
}

.card {
	width: 156px;
	height: 224px;
	float:left;
	margin-right: -120px;
}

.myhand {
	position: absolute;
	left: 93px;
	top: 400px;
}

.my1 {
	rotation: -10deg;
	-webkit-transform: rotate(-18deg);
	-moz-transform: rotate(-18deg);
	margin-top: 37px;
}
.my2 {
	rotation: -8deg;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	margin-top: 26px;
}
.my3 {
	rotation: -6deg;
	-webkit-transform: rotate(-12deg);
	-moz-transform: rotate(-12deg);
	margin-top: 17px;
}
.my4 {
	rotation: -4deg;
	-webkit-transform: rotate(-9deg);
	-moz-transform: rotate(-9deg);
	margin-top: 11px;
}
.my5 {
	rotation: -10deg;
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	margin-top: 6px;
}
.my6 {
	rotation: -8deg;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	margin-top: 2px;
}
.my7 {
	rotation: -6deg;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	margin-top: 0px;
}
.my8 {
	rotation: -4deg;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	margin-top: 1px;
}
.my9 {
	rotation: -10deg;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	margin-top: 3px;
}
.my10 {
	rotation: -8deg;
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	margin-top: 6px;
}
.my11 {
	rotation: -6deg;
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	margin-top: 10px;
}
.my12 {
	rotation: -4deg;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	margin-top: 15px;
}
.my13 {
	rotation: -4deg;
	-webkit-transform: rotate(12deg);
	-moz-transform: rotate(12deg);
	margin-top: 21px;
}

.CA {background-image: url(images/cards/CA.png);}
.C2 {background-image: url(images/cards/C2.png);}
.C3 {background-image: url(images/cards/C3.png);}
.C4 {background-image: url(images/cards/C4.png);}
.C5 {background-image: url(images/cards/C5.png);}
.C6 {background-image: url(images/cards/C6.png);}
.C7 {background-image: url(images/cards/C7.png);}
.C8 {background-image: url(images/cards/C8.png);}
.C9 {background-image: url(images/cards/C9.png);}
.C10 {background-image: url(images/cards/C10.png);}
.CJ {background-image: url(images/cards/CJ.png);}
.CQ {background-image: url(images/cards/CQ.png);}
.CK {background-image: url(images/cards/CK.png);}
.DA {background-image: url(images/cards/DA.png);}
.D2 {background-image: url(images/cards/D2.png);}
.D3 {background-image: url(images/cards/D3.png);}
.D4 {background-image: url(images/cards/D4.png);}
.D5 {background-image: url(images/cards/D5.png);}
.D6 {background-image: url(images/cards/D6.png);}
.D7 {background-image: url(images/cards/D7.png);}
.D8 {background-image: url(images/cards/D8.png);}
.D9 {background-image: url(images/cards/D9.png);}
.D10 {background-image: url(images/cards/D10.png);}
.DJ {background-image: url(images/cards/DJ.png);}
.DQ {background-image: url(images/cards/DQ.png);}
.DK {background-image: url(images/cards/DK.png);}
.HA {background-image: url(images/cards/HA.png);}
.H2 {background-image: url(images/cards/H2.png);}
.H3 {background-image: url(images/cards/H3.png);}
.H4 {background-image: url(images/cards/H4.png);}
.H5 {background-image: url(images/cards/H5.png);}
.H6 {background-image: url(images/cards/H6.png);}
.H7 {background-image: url(images/cards/H7.png);}
.H8 {background-image: url(images/cards/H8.png);}
.H9 {background-image: url(images/cards/H9.png);}
.H10 {background-image: url(images/cards/H10.png);}
.HJ {background-image: url(images/cards/HJ.png);}
.HQ {background-image: url(images/cards/HQ.png);}
.HK {background-image: url(images/cards/HK.png);}
.SA {background-image: url(images/cards/SA.png);}
.S2 {background-image: url(images/cards/S2.png);}
.S3 {background-image: url(images/cards/S3.png);}
.S4 {background-image: url(images/cards/S4.png);}
.S5 {background-image: url(images/cards/S5.png);}
.S6 {background-image: url(images/cards/S6.png);}
.S7 {background-image: url(images/cards/S7.png);}
.S8 {background-image: url(images/cards/S8.png);}
.S9 {background-image: url(images/cards/S9.png);}
.S10 {background-image: url(images/cards/S10.png);}
.SJ {background-image: url(images/cards/SJ.png);}
.SQ {background-image: url(images/cards/SQ.png);}
.SK {background-image: url(images/cards/SK.png);}

.error {
	display: none;
}


.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    clear: both;
}

div.buttons {
	margin-top: 0px;
	margin-left: 100px;
}

a.button {
    background: transparent url(images/button_big-right.png) no-repeat scroll top right;
    color: #fbed72;
    display: block;
    font: normal 30px "Times New Roman", serif;
    height: 73px;
	margin-right: 6px;
    padding-right: 39px; /* sliding doors padding */
    text-decoration: none;
	float: left;
	clear: both;
	margin-top: 20px;
	text-shadow: #420101 2px 2px 1px;
}

a.button span {
    background: transparent url(images/button_big-left.png) no-repeat;
    display: block;
    line-height: 53px;
    padding: 6px 6px 14px 39px;
}

a.button:hover {
    background-position: bottom right;
    color: #cbbd42;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:hover span {
    background-position: bottom left;
    padding: 7px 6px 13px 39px; /* push text down 1px */
}

a.smallbutton {
    background: transparent url(images/button_small-right.png) no-repeat scroll top right;
    color: #fbed72;
    display: block;
    font: normal 18px "Times New Roman", serif;
    height: 43px;
	margin-right: 6px;
    padding-right: 24px; /* sliding doors padding */
    text-decoration: none;
	float: left;
	clear: both;
	margin-top: 20px;
	text-shadow: #420101 2px 2px 1px;
}

a.smallbutton span {
    background: transparent url(images/button_small-left.png) no-repeat;
    display: block;
    line-height: 23px;
    padding: 6px 6px 14px 24px;
}

a.smallbutton:hover {
    background-position: bottom right;
    color: #cbbd42;
    outline: none; /* hide dotted outline in Firefox */
}

a.smallbutton:hover span {
    background-position: bottom left;
    padding: 7px 6px 13px 24px; /* push text down 1px */
}

div#spinner {
	width: 140px;
	height: 140px;
	margin-top: 60px;
	margin-left: 100px;
}

div#user-info {
	display: none;
	width: 560px;
	height: 100px;
	margin-top: 60px;
	margin-left: 100px;
	overflow: hidden;
    font: normal 30px "Times New Roman", serif;
    color: #fbed72;
	text-shadow: #420101 2px 2px 1px;
}

body#index .button, body#index .smallbutton {
	display: none;
}

div#debug {
	display: none;
}
